body {
  background-color: #f3f1f7;
}
.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}
button, [type="button"] {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}